<h1>Editing Restaurant</h1>

<%= render 'form' %>
<%= button_to "Delete Restaurant", @restaurant, :method=>:delete, :class=> :destroy %><br>
<%= link_to 'Show', @restaurant %> |
<%= link_to 'Back', restaurants_path %>
